<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-57622384-1', 'auto');
	ga('send', 'pageview');

</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1481292832158179&version=v2.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="container"></div>
<div id="prompt-contatiner"><div id="prompt"></div></div>
<div id="tools">
	<div class="fb-share-button" data-href="https://audio-visualizer.herokuapp.com/" data-layout="button_count"></div>
	<ul id="accordion">
		<li id="color">
			<h3>Color</h3>
			<div class="acc-section">
				<div class="acc-content">
					<div id="red-button" class="color-button"></div>
					<div id="orange-button" class="color-button"></div>
					<div id="yellow-button" class="color-button"></div>
					<div id="green-button" class="color-button"></div>
					<div id="blue-button" class="color-button"></div>
					<div id="purple-button" class="color-button"></div>
					<div id="rainbow1-button" class="color-button"></div>
					<div id="rainbow2-button" class="color-button"></div>
					<div id="rainbow3-button" class="color-button"></div>
					<script>
						$("#red-button").click(function(){ 
							colorArray = redColors;
						});
						$("#orange-button").click(function(){ 
							colorArray = orangeColors;
						});
						$("#yellow-button").click(function(){ 
							colorArray = yellowColors;
						});
						$("#green-button").click(function(){ 
							colorArray = greenColors;
						});
						$("#blue-button").click(function(){ 
							colorArray = blueColors;
						});
						$("#purple-button").click(function(){ 
							colorArray = purpleColors;
						});
						$("#rainbow1-button").click(function(){ 
							colorArray = rainbowColors1;
						});
						$("#rainbow2-button").click(function(){ 
							colorArray = rainbowColors2;
						});
						$("#rainbow3-button").click(function(){ 
							colorArray = rainbowColors3;
						});
					</script>
				</div>
			</div>
		</li>
		<li id="shape">
			<h3>Shape</h3>
			<div class="acc-section">
				<div class="acc-content">
					<div id="terrain-button" class="visual-button"></div>
					<div id="sphereSpin-button" class="visual-button"></div>
					<div id="flyingShapes-button" class="visual-button"></div>
					<div id="cylinder-button" class="visual-button"></div>
					<div id="circles-button" class="visual-button"></div>
					<div id="lights-button" class="visual-button"></div>

					<script>
						$("#terrain-button").click(function(){ 
							visual = TerrainVisual;
							visual.init();
							visual.render();
						});
						$("#sphereSpin-button").click(function(){ 
							visual = SphereSpinVisual;
							visual.init();
							visual.render();
						});
						$("#flyingShapes-button").click(function(){ 
							visual = FlyingShapesVisual;
							visual.init();
							visual.render();
						});
						$("#cylinder-button").click(function(){ 
							visual = CylinderVisual;
							visual.init();
							visual.render();
						});
						$("#circles-button").click(function(){ 
							visual = CirclesVisual;
							visual.init();
							visual.render();
						});
						$("#lights-button").click(function(){ 
							visual = LightsVisual;
							visual.init();
							visual.render();
						});
					</script>
				</div>
			</div>
		</li>
		<li id="speed">
			<h3>Parameters</h3>
			<div class="acc-section">
				<div class="acc-content">
					<!-- TODO -->
				</div>
			</li>
			<li id="song">
				<h3>Song</h3>
				<div class="acc-section">
					<div class="acc-content">
						Drop an MP3 of MP4 file<!-- song or <a id="enter-link">enter a link.</a>-->
					</div>
				</div>
			</li>

		</ul>
	</div>